#game-area {
    background-color: #F98866;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    border-radius: 15px;
}

#title {
    font-size: 48px;
    font-weight: bold;
    color: #2d2828;
    margin-bottom: 20px;
}

.button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
    background-color: #2d2828;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A1BE95;
    font-family: Arial, sans-serif;
}