<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Gomoku Settings</title>
    <style>
        .input-field {
            font-size: 18px;
            margin: 10px;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #555;
        }
    </style>
</head>

<body>

    <div id="game-area">
        <div id="title">Gomoku Settings</div>
        <label for="field-size">Field Size:</label>
        <input id="field-size" class="input-field" type="number" min="3" max="15" value="15">

        <label for="target-length">Target Length:</label>
        <input id="target-length" class="input-field" type="number" min="3" max="15" value="5">

        <button class="button" onclick="applySettings()">Apply</button>
    </div>

    <script src="/static/js/settings.js"></script>

</body>

</html>